body, html {
  padding: 4px;
  font-family: monospace;
  font-size: 10pt;
}
a:link, a:visited {
  text-decoration: none;
  color: blue;
}
a:active { color: red; }
h1, table {
  margin: 0;
  padding: 0;
}
table, td {
  padding: 0;
  border-spacing: 0;
  vertical-align: top;
}
.report-container { padding-left: 4px; }
.input-id-container { width: 320px; }
#input-id { width: 100%; }
.button-count {
  display: none;
  width: 8%;
}
#icon0-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 176px;
  background-image:
    linear-gradient(to right, rgba(224, 224, 224, 0.75), rgba(224, 224, 224, 0.75)),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 16px 16px;
}
#icon0 {
  display: block;
  margin: auto;
}
#report {
  white-space: pre;
}